<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}" type="text/css">
  <title>admin - update product</title>
</head>
<body>
<div class="container"
     style="display: flex; flex-direction: column; justify-content: center; margin-top: 50px;">
  <h2 class="py-4 text-center border-bottom mb-5">상품 수정</h2>
  <div>
    <form method="post" th:action th:method="put">
      <div class="mb-3">
        <label class="mb-2" for="name">상품명</label>
        <input class="form-control" id="name" name="name" placeholder="상품명을 입력하세요." th:value="${product.name}"
               type="text">
      </div>
      <div class="mb-3">
        <label class="mb-2" for="price">가격</label>
        <input class="form-control" id="price" name="price" placeholder="가격을 입력하세요." th:value="${product.price}"
               type="text">
      </div>
      <div class="mb-3">
        <label class="mb-2" for="imageUrl">상품 이미지</label>
        <input class="form-control" id="imageUrl" name="imageUrl" placeholder="상품 이미지 주소를 입력하세요."
               th:value="${product.imageUrl}" type="text">
      </div>
      <div class="mb-3">
        <label class="mb-2" for="categoryName">카테고리</label>
        <input class="form-control" id="categoryName" name="categoryName" placeholder="카테고리를 입력하세요."
               th:value="${product.category.name}" type="text">
      </div>
      <div class="row mt-5">
        <div class="col">
          <button class="btn btn-primary w-100" type="submit">적용</button>
        </div>
        <div class="col">
          <button class="btn btn-primary w-100" onclick="location.href='products.html'"
                  th:onclick="|location.href='@{/admin/products}'|" type="button">취소
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
