<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* 100% of the viewport height */
            margin: 0; /* Remove default margin */
        }
    </style>
</head>
<body>
<a th:href="'https://kauth.kakao.com/oauth/authorize?scope=talk_message,account_email&response_type=code&redirect_uri=http://localhost:8080&client_id=' + ${clientId}">
    <img alt="Kakao Login" src="kakao_login_large_narrow.png"/>
</a>
</body>
</html>
