<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>카테고리 등록</title>
</head>
<body>
<h1>카테고리 등록</h1>
<form th:action="@{/admin/category}" method="post">
    <div>
        <label for="name">이름:</label>
        <input type="text" id="name" name="name" required/>
    </div>
    <div>
        <label for="color">색상:</label>
        <input type="text" id="color" name="color" required/>
    </div>
    <div>
        <label for="imageUrl">이미지URL:</label>
        <input type="text" id="imageUrl" name="imageUrl" required/>
    </div>
    <div>
        <label for="description">설명:</label>
        <input type="text" id="description" name="description" required/>
    </div>

    <p><input type="submit" value="저장"/></p>
</form>
<a th:href="@{/admin/categories}">뒤로가기</a>
</body>
</html>