<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<center><h1>👤관리자 페이지</h1></center> <hr>
<h1>🔎상품 목록</h1>
<table>
    <thead>
    <tr>
        <th>상품명</th>
        <th>가격</th>
        <th>이미지</th>
        <th>액션</th>
    </tr>
    </thead>
    <tbody id="product-list">
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">상품명</td>
        <td th:text="${product.price}">가격</td>
        <td><img th:src="${product.imageUrl}" alt="상품 이미지" width="100"></td>
        <td>
            <button onclick="editProduct(${product.id})">수정</button>
            <button onclick="deleteProduct(${product.id})">삭제</button>
        </td>
    </tr>
    </tbody>
</table>

<div id="pagination" class="pagination">
    <!-- 페이지네이션 버튼 동적으로 추가됨 -->
</div>

<br>
<!--상품 추가-->
<button class="add-button" type="button" onclick="toggleAddProductForm()">상품 추가</button>

<form id="add-product-form" style="display: none;">
    <h2>상품 추가</h2>
    <label for="category">카테고리:</label>
    <select id="category" name="category"></select>
    <label for="name">상품명:</label>
    <input type="text" id="name" name="name">
    <label for="price">가격:</label>
    <input type="text" id="price" name="price">
    <label for="imageUrl">이미지 URL:</label>
    <input type="text" id="imageUrl" name="imageUrl">
    <h3>옵션</h3>
    <div id="options">
        <div class="option">
            <label for="option-name-0">옵션명:</label>
            <input type="text" id="option-name-0" name="option-name">
            <label for="option-quantity-0">수량:</label>
            <input type="text" id="option-quantity-0" name="option-quantity">
            <button type="button" onclick="removeOption(this)">삭제</button>
        </div>
    </div>
    <button type="button" onclick="addOption()">옵션 추가</button>
    <button class="add-button" type="button" onclick="addProduct()">추가</button>
</form>

<!--상품 수정-->
<form id="edit-product-form" style="display: none;">
    <h2>상품 수정</h2>
    <input type="hidden" id="edit-id" name="id">
    <label for="edit-category">카테고리:</label>
    <select id="edit-category" name="category"></select>
    <label for="edit-name">상품명:</label>
    <input type="text" id="edit-name" name="name">
    <label for="edit-price">가격:</label>
    <input type="text" id="edit-price" name="price">
    <label for="edit-imageUrl">이미지 URL:</label>
    <input type="text" id="edit-imageUrl" name="imageUrl">
    <h3>옵션</h3>
    <div id="edit-options"></div>
    <button type="button" onclick="addEditOption()">옵션 추가</button>
    <button class="edit-button" type="button" onclick="updateProduct()">수정</button>
</form>

<script>
    let currentPage = 0;
    const pageSize = 5; // pageNation 페이지 size 설정 content 개수 설정
    const buttonsPerPage = 5;

    function fetchProducts(pageNumber = 1) {
        $.get(`/api/products?pageNumber=${pageNumber}&pageSize=${pageSize}`, function(response) {
            const products = response.content;
            const totalPages = response.totalPages;

            // 상품 목록을 갱신합니다.
            const productList = $("#product-list");
            productList.empty();
            products.forEach(function(product) {
                productList.append(`
                    <tr>
                        <td>${product.name}</td>
                        <td>${product.price}</td>
                        <td><img src="${product.imageUrl}" alt="상품 이미지" width="100"></td>
                        <td>
                            <button onclick="editProduct(${product.id})">수정</button>
                            <button onclick="deleteProduct(${product.id})">삭제</button>
                        </td>
                    </tr>
                `);
            });

            // 페이지네이션 갱신
            updatePagination(totalPages, pageNumber);
        });
    }

    function updatePagination(totalPages, page) {
        currentPage = page;
        const pagination = $("#pagination");
        pagination.empty();

        const currentGroup = Math.floor(currentPage / buttonsPerPage);
        const startPage = currentGroup * buttonsPerPage + 1;
        const endPage = Math.min(startPage + buttonsPerPage, totalPages);

        if (currentGroup > 0) {
            pagination.append(`<button onclick="fetchProducts(${startPage-1})"><</button>`);
        }

        for (let i = startPage; i <= endPage; i++) {
            pagination.append(`<button onclick="fetchProducts(${i})" class="${i === currentPage ? 'active' : ''}">${i}</button>`);
        }

        if (endPage < totalPages) {
            pagination.append(`<button onclick="fetchProducts(${endPage})">></button>`);
        }
    }

    function fetchCategories(selectElementId) {
        $.get('/api/categories', function(categories) {
            const selectElement = $(`#${selectElementId}`);
            selectElement.empty();
            categories.forEach(function(category) {
                selectElement.append(`<option value="${category.id}">${category.name}</option>`);
            });
        });
    }

    function addProduct() {
        var categoryId = $("#category").val();
        var name = $("#name").val();
        var price = $("#price").val();
        var imageUrl = $("#imageUrl").val();
        var options = [];
        $('#options .option').each(function(index, element) {
            var optionName = $(element).find('input[name="option-name"]').val();
            var optionQuantity = $(element).find('input[name="option-quantity"]').val();
            options.push({ name: optionName, quantity: optionQuantity });
        });
        $.ajax({
            url: "/api/products",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({categoryId: categoryId, name: name, price: price, imageUrl: imageUrl, options: options}),
            success: function() {
                fetchProducts();
                resetAddProductForm();
                $("#add-product-form").hide();
            },
            error: function(xhr) {
                var errorMessage = xhr.responseText;
                alert(errorMessage);
            }
        });
    }

    function editProduct(id) {
        $.get(`/api/products/${id}`, function(product) {
            $("#edit-id").val(product.id);
            $("#edit-category").val(product.categoryId);
            $("#edit-name").val(product.name);
            $("#edit-price").val(product.price);
            $("#edit-imageUrl").val(product.imageUrl);
            $("#edit-options").empty();
            product.options.forEach(function(option, index) {
                addEditOption(option.name, option.quantity);
            });
            $("#edit-product-form").show();
        });
    }

    function updateProduct() {
        var id = $("#edit-id").val();
        var categoryId = $("#edit-category").val();
        var name = $("#edit-name").val();
        var price = $("#edit-price").val();
        var imageUrl = $("#edit-imageUrl").val();
        var options = [];
        $('#edit-options .option').each(function(index, element) {
            var optionName = $(element).find('input[name="option-name"]').val();
            var optionQuantity = $(element).find('input[name="option-quantity"]').val();
            options.push({ name: optionName, quantity: optionQuantity });
        });

        $.ajax({
            url: `/api/products`,
            type: "PUT",
            contentType: "application/json",
            data: JSON.stringify({id: id, categoryId: categoryId, name: name, price: price, imageUrl: imageUrl, options: options}),
            success: function() {
                fetchProducts();
                resetEditProductForm();
                $("#edit-product-form").hide();
            },
            error: function(xhr, textStatus, errorThrown) {
                var errorMessage = xhr.responseText;
                alert(errorMessage);
            }
        });
    }

    function deleteProduct(id) {
        $.ajax({
            url: `/api/products/${id}`,
            type: "DELETE",
            success: function() {
                fetchProducts();
            }
        });
    }

    function toggleAddProductForm() {
        $("#add-product-form").toggle();
        fetchCategories('category');
    }

    function resetAddProductForm() {
        $("#name").val("");
        $("#price").val("");
        $("#imageUrl").val("");
        $("#options").empty();
        addOption();
    }

    function resetEditProductForm() {
        $("#edit-id").val("");
        $("#edit-name").val("");
        $("#edit-price").val("");
        $("#edit-imageUrl").val("");
        $("#edit-options").empty();
        fetchCategories('edit-category');
    }

    function addOption() {
        var optionCount = $("#options .option").length;
        var optionHtml = `
            <div class="option">
                <label for="option-name-${optionCount}">옵션명:</label>
                <input type="text" id="option-name-${optionCount}" name="option-name">
                <label for="option-quantity-${optionCount}">수량:</label>
                <input type="text" id="option-quantity-${optionCount}" name="option-quantity">
                <button type="button" onclick="removeOption(this)">삭제</button>
            </div>`;
        $("#options").append(optionHtml);
    }

    function addEditOption(name = '', quantity = '') {
        var optionCount = $("#edit-options .option").length;
        var optionHtml = `
            <div class="option">
                <label for="edit-option-name-${optionCount}">옵션명:</label>
                <input type="text" id="edit-option-name-${optionCount}" name="option-name" value="${name}">
                <label for="edit-option-quantity-${optionCount}">수량:</label>
                <input type="text" id="edit-option-quantity-${optionCount}" name="option-quantity" value="${quantity}">
                <button type="button" onclick="removeOption(this)">삭제</button>
            </div>`;
        $("#edit-options").append(optionHtml);
    }

    function removeOption(button) {
        $(button).closest('.option').remove();
    }

    $(document).ready(function() {
        fetchProducts();
        fetchCategories('category');
    });
</script>
</body>
</html>
