<!DOCTYPE html>
<html lang="KR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 관리</title>
    <link rel="stylesheet" href="/style/index_style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/index_ajax.js"></script>
</head>
<body>
<div class="header" id="header">

</div>
<h1>Administrator Category Manage Page</h1>
<div class="form-inline">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" disabled>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required>

    <label for="color">Color:</label>
    <input type="text" id="color" name="name" required>

    <label for="imageUrl">ImageUrl:</label>
    <input type="text" id="imageUrl" name="imageUrl" required>

    <input type="button" id="post" value="추가">
</div>
<div class="form-inline">
    <label for="p_id">Id:</label>
    <input type="text" id="p_id" name="id" required>

    <label for="p_name">Name:</label>
    <input type="text" id="p_name" name="name" required>

    <label for="p_description">Description:</label>
    <input type="text" id="p_description" name="p_description" required>

    <label for="p_color">Color:</label>
    <input type="text" id="p_color" name="p_color" required>

    <label for="p_imageUrl">ImageUrl:</label>
    <input type="text" id="p_imageUrl" name="p_imageUrl" required>

    <input type="button" id="put" value="수정">
</div>
<table id="product-table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Color</th>
        <th scope="col">ImageUrl</th>
        <th scope="col">Option</th>
    </tr>
    </thead>
    <tbody id="category-tbody">
    <!-- AJAX를 통해 데이터를 로드 -->
    </tbody>
</table>
</body>
<script>
    function getCategories(){
        $.ajax({
            url: '/api/categories',
            method: 'GET',
            success: function(data) {
                var tbody = $('#category-tbody');
                tbody.empty(); // 초기화

                // 데이터에 따라 테이블 행을 생성
                data.forEach(function(category) {
                    // 한 행의 내용
                    var row = `
                        <tr>
                            <td>${category.id}</td>
                            <td>${category.name}</td>
                            <td>${category.description}</td>
                            <td>${category.color}</td>
                            <td>${category.imageUrl}</td>
                            <td>
                                <a href="#" onclick="deleteFunction(${category.id})">삭제</a>
                            </td>
                        </tr>
                    `;
                    tbody.append(row);
                });
            },
            error: function(err) {
                if(err.responseJSON){
                    var s = JSON.stringify(err.responseJSON);
                    alert(s);
                }
                else{
                    alert("문제가 발생했습니다! 상태 코드 : " + err.status)
                }
            }
        });
    }

    $(document).ready(function() {
        getCategories();

        if(localStorage.getItem('token')){
            var inline = $('#header');
            inline.empty();
            inline.append('<a href="" onclick="logoutFunction()" className="header-link">로그아웃</a>\n' +
                '            <a href="adminProducts" className="header-link">상품관리</a>' +
                '            <a href="adminUsers" className="header-link">유저관리</a>' +
                '            <a href="adminCategories" className="header-link">카테고리관리</a>');
        }
    });

    $("#post").click(function () {
        var category = {
            name : $("#name").val(),
            description : $("#description").val(),
            color : $("#color").val(),
            imageUrl : $("#imageUrl").val()
        }

        $.ajax({
            type : "POST",
            url : "api/categories",
            contentType: "application/json",
            datatype : "json",
            data : JSON.stringify(category),
            headers : {
                Authorization: 'Bearer ' + localStorage.getItem("token"),
            },
            success : function(res){
                location.reload();
            },
            error : function(err){
                if(err.responseJSON){
                    var s = JSON.stringify(err.responseJSON);
                    alert(s);
                }
                else{
                    alert("문제가 발생했습니다! 상태 코드 : " + err.status)
                }
            }
        })
    });

    function deleteFunction(id){
        $.ajax({
            type: "DELETE",
            url: "api/categories/" + id,
            headers : {
                Authorization: 'Bearer ' + localStorage.getItem("token"),
            },
            success : function(res){
                $('#product-table').find('tr[data-id="' + id + '"]').remove();
                alert("카테고리 ID : " + id + "가 삭제되었습니다.");
                location.reload();
            },
            error : function(error){
                if(err.responseJSON){
                    var s = JSON.stringify(err.responseJSON);
                    alert(s);
                }
                else{
                    alert("문제가 발생했습니다! 상태 코드 : " + err.status)
                }
            }
        })
    }

    $("#put").click(function(){
        var category ={
            name : $("#p_name").val(),
            description : $("#p_description").val(),
            color : $("#p_color").val(),
            imageUrl : $("#p_imageUrl").val()
        }

        $.ajax({
            type : "PUT",
            url : "api/categories/" + $("#p_id").val(),
            contentType: "application/json",
            datatype : "json",
            data : JSON.stringify(category),
            headers : {
                Authorization: 'Bearer ' + localStorage.getItem("token"),
            },
            success : function(res){
                getCategories();
            },
            error : function(err){
                if(err.responseJSON){
                    var s = JSON.stringify(err.responseJSON);
                    alert(s);
                }
                else{
                    alert("문제가 발생했습니다! 상태 코드 : " + err.status)
                }
            }
        })
    })

    function logoutFunction(){
        localStorage.removeItem('token');
        backToHome();
    }
</script>
</html>
