<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h2>멤버 목록</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Points</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="member : ${members}">
    <td th:text="${member.id}"></td>
    <td th:text="${member.email}"></td>
    <td th:text="${member.points}"></td>
    <td>
      <!-- 포인트 수정 폼 링크 -->
      <form th:action="@{/admin/members/updatePoints/{id}(id=${member.id})}" th:method="get" style="display:inline">
        <button type="submit">포인트 추가</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>