<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gift List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Gift List</h1>
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${giftlist}">
            <td th:text="${product.id}"></td>
            <td><a th:href="@{|/admin/product/detail/${product.id}|}" th:text="${product.name}"></a></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.imageUrl}"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/admin/product/create}">상품 등록</a>
</div>
</body>
</html>
