<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>카테고리 추가</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="container">
  <h1>카테고리 추가</h1>
  <form th:action="@{/admin/categories/add}" th:object="${category}" method="post">
    <div class="form-group">
      <label for="name">카테고리 이름:</label>
      <input type="text" id="name" th:field="*{name}" required>
      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
      <label for="imgUrl">이미지 URL:</label>
      <input type="text" id="imgUrl" th:field="*{imgUrl}">
    </div>
    <div class="form-group">
      <label for="name">카테고리 설명:</label>
      <input type="text" id="description" th:field="*{description}" required>
      <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></span>
    </div>
    <button type="submit" class="button">카테고리 추가</button>
  </form>
  <a href="/admin/categories" class="button secondary">카테고리 목록으로</a>
</div>
</body>
</html>