<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 수정 페이지</title>
</head>
<body>
<a href="/admin/category"><- 카테고리 관리 페이지로 돌아가기</a>
<h2>카테고리 수정</h2>
<form th:action="@{/admin/category/{id}(id=${categoryDTO.id})}" th:object="${categoryDTO}" method="post">
    <input type="hidden" name="_method" value="put" />
    <table>
        <tr>
            <td>카테고리 명: </td>
            <td><label>
                <input type="text" name="name" th:field="*{name}" required/>
            </label></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Category Name Error Message</td>
        </tr>
        <tr>
            <td><button type="submit">카테고리 수정</button></td>
        </tr>
    </table>
</form>
</body>
</html>
