<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Option</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>옵션 추가</h2>
    <form method="post" th:action="@{|/admin/gift/${giftId}/option/create|}">
        <div class="form-group">
            <label for="name">옵션 이름</label>
            <input class="form-control" id="name" name="name" required type="text">
        </div>
        <div class="form-group">
            <label for="quantity">수량</label>
            <input class="form-control" id="quantity" name="quantity" required type="number">
        </div>
        <button class="btn btn-primary" type="submit">추가</button>
        <a class="btn btn-secondary" th:href="@{|/admin/gift/detail/${giftId}|}">취소</a>
    </form>
</div>
</body>
</html>
