<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>옵션 수정</title>
</head>
<body>
<h1>옵션 수정</h1>
<form
    th:action="@{/admin/products/{productId}/options/{optionId}(productId=${optionDTO.productId}, optionId=${optionId})}"
    th:object="${optionDTO}" method="post">
  <input type="hidden" name="_method" value="put"/>
  <div>
    <label for="name">옵션 이름:</label>
    <input type="text" id="name" th:field="*{name}"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></div>
  </div>
  <div>
    <label for="quantity">수량:</label>
    <input type="number" id="quantity" th:field="*{quantity}"/>
    <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" style="color:red;"></div>
  </div>
  <div>
    <button type="submit">수정</button>
  </div>
</form>
<form th:action="@{/admin/products/{productId}/options(productId=${optionDTO.productId})}"
      method="get">
  <button type="submit">옵션 목록으로 돌아가기</button>
</form>
</body>
</html>
