<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Products</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
  <div class="header">
    <h2>Manage Products</h2>
    <div class="button-group">
      <a href="/members" class="btn btn-add">Manage Member</a>
      <a href="/products/create" class="btn btn-add">Add New Product</a>
    </div>
  </div>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td><img th:src="${product.imageUrl}" alt="Product Image" width="100"></td>
      <td>
        <a th:href="@{/products/update/{id}(id=${product.id})}"><button class="btn btn-edit">✏️</button></a>
        <a th:href="@{/products/delete/{id}(id=${product.id})}"><button class="btn btn-delete-row">🗑️</button></a>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination">
    <ul id="pagination">
      <!-- Pagination will be populated by JavaScript -->
    </ul>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const pagination = document.getElementById("pagination");
    const currentPage = [[${page.number}]] ;
    const totalPages = [[${page.totalPages}]];
    const pageSize = [[${page.size}]];
    const maxPagesToShow = 8;

    const createPageLink = (pageIndex, text, isActive) => {
      const li = document.createElement("li");
      const a = document.createElement("a");
      a.href = `?page=${pageIndex}&size=${pageSize}`;
      a.textContent = text;
      if (isActive) {
        a.classList.add("active");
      }
      li.appendChild(a);
      return li;
    };

    const updatePagination = (currentPage, totalPages) => {
      pagination.innerHTML = "";
      const startPage = Math.floor(currentPage / maxPagesToShow) * maxPagesToShow;
      const endPage = Math.min(startPage + maxPagesToShow, totalPages);

      if (currentPage > 0) {
        pagination.appendChild(createPageLink(currentPage - 1, "«"));
      }

      for (let i = startPage; i < endPage; i++) {
        pagination.appendChild(createPageLink(i, i + 1, i === currentPage));
      }

      if (endPage < totalPages) {
        pagination.appendChild(createPageLink(currentPage + 1, "»"));
      }
    };

    updatePagination(currentPage, totalPages);
  });
</script>
</body>
</html>
