<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish options</title>
    <link rel="stylesheet" th:href="@{/css/manage.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script defer th:src="@{/js/kakaoWishlist.js}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Your <span>Wishes</span></h1>
        <div class="button-container">
            <button class="delete-btn" type="button" id="delete-selected">Delete</button>
            <button class="add-btn" type="button" id="add-wish-option">
                Go To Add Wish
            </button>
        </div>
    </div>
    <table>
        <thead class="table-header">
        <tr>
            <th><input type="checkbox" id="select-all"></th>
            <th>Category</th>
            <th>Product Name</th>
            <th>Option</th>
            <th>Price</th>
            <th>Left Quantity</th>
            <th>Send</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wish : ${wishOptions.wishes}" th:data-id="${wish.id}">
            <td><input type="checkbox"></td>
            <td th:text="${wish.option.product.category.name}"></td>
            <td th:text="${wish.option.product.name}"></td>
            <td th:text="${wish.option.name}"></td>
            <td th:text="${wish.option.product.price}"></td>
            <td th:text="${wish.option.quantity}"></td>
            <td>
                <button type="button" class="send-btn" th:data-id="${wish.option.id}" th:data-text="${wish.option.name}"><i class="fas fa-paper-plane"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination justify-content-center" id="pagination">
        <li class="page-item" th:classappend="${wishOptions.currentPage == 0} ? 'disabled'">
            <button class="page-link" aria-label="Previous" th:onclick="'loadPage(' + (${wishOptions.currentPage - 1}) + ')'" th:disabled="${wishOptions.currentPage == 0}">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, wishOptions.totalPages - 1)}" th:classappend="${pageNum == wishOptions.currentPage} ? 'active'">
            <button class="page-link" th:text="${pageNum + 1}" th:onclick="'loadPage(' + ${pageNum} + ')'"></button>
        </li>
        <li class="page-item" th:classappend="${wishOptions.currentPage + 1 == wishOptions.totalPages} ? 'disabled'">
            <button class="page-link" aria-label="Next" th:onclick="'loadPage(' + (${wishOptions.currentPage + 1}) + ')'" th:disabled="${wishOptions.currentPage + 1 == wishOptions.totalPages}">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</div>
</body>
</html>
