<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <script src="/js/main.js" defer></script>
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <span class="title">New Product</span>
        <button class="btn primary-btn" onclick="history.back()">Back</button>
    </div>
    <div class="container">
        <form id="product-add-form">
            <table class="product-info">
                <tr>
                    <th>Category</th>
                    <td>
                        <select id="categoryId" required>
                            <option th:each="category, stat: ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${stat.index == 0}"}></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>
                        <input id="name" type="text" required>
                    </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>
                        <input id="price" type="text" required>
                    </td>
                </tr>
                <tr>
                    <th>Image URL</th>
                    <td>
                        <input id="imageUrl" type="text" required>
                    </td>
                </tr>
                <tr>
                    <th>Option</th>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input id="optionName" type="text" required>
                                </td>
                                <td>
                                    <input id="optionQuantity" type="text" required>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="btn-container">
                <button class="btn primary-btn" type="submit">Add</button>
            </div>
        </form>
    </div>
</body>
</html>