<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta name="author" content="충남대 BE 이경빈">
  <meta name="keywords" content="카카오 테크 캠퍼스">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>옵션 수정</title>

  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/stylesheet.css}">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/script.js}"></script>
</head>

<body>
<div class="container option-edit-container mt-5">
  <h1 class="text-center mb-4">옵션 수정</h1>
  <form th:action="@{'/admin/products/' + ${productId} + '/options/' + ${option.id}}" method="post"
        th:object="${option}">
    <input type="hidden" name="_method" value="put">
    <div class="mb-3">
      <label for="name" class="form-label">이름</label>
      <input type="text" id="name" class="form-control" th:field="*{name}"/>
      <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback d-block"
           th:each="err : ${#fields.errors('name')}" th:text="${err}">이름 오류 메시지
      </div>
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label">수량</label>
      <input type="number" id="quantity" class="form-control" th:field="*{quantity}"/>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-warning">수정</button>
    </div>
  </form>
</div>
</body>

</html>
