<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" th:href="@{/css/manage.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script defer th:src="@{/js/option.js}"></script>
    <script>
        var productId = [[${productId}]];
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Product <span>Options</span></h1>
        <div class="button-container">
            <button class="add-btn" type="button" data-toggle="modal" data-target="#addOption">
                Add New Option
            </button>
        </div>
    </div>
    <table>
        <thead class="table-header">
        <tr>
            <th><input type="checkbox" id="select-all"></th>
            <th>Product Name</th>
            <th>Option Id</th>
            <th>Option Name</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="option : ${options.optionList}">
            <td><input type="checkbox"></td>
            <td th:text="${option.product.name}"></td>
            <td th:text="${option.id}"></td>
            <td th:text="${option.name}"></td>
            <td th:text="${option.quantity}"></td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${options.currentPage == 0} ? 'disabled'">
            <a class="page-link" th:href="@{'/api/product/options/' + ${productId} + '?page=' + (${options.currentPage} - 1)}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, options.totalPages - 1)}" th:classappend="${pageNum == options.currentPage} ? 'active'">
            <a class="page-link"
               th:href="@{'/api/product/options/' + ${productId} + '?page=' + ${pageNum}}" th:text="${pageNum + 1}">1</a>
        </li>
        <li class="page-item" th:classappend="${options.currentPage + 1 == options.totalPages} ? 'disabled'">
            <a class="page-link" th:href="@{'/api/product/options/' + ${productId} + '?page=' + (${options.currentPage} + 1)}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<div th:replace="~{fragments/addOption :: modal}"></div>
</body>
</html>
