<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Form</title>
</head>
<body>
<h1>Product Form</h1>

<form th:action="@{/api/products/edit/{id}(id=${productResponse.id})}" th:object="${productResponse}" method="post">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" />
    </div>
    <div>
        <label>Price:</label>
        <input type="number" th:field="*{price}" />
    </div>
    <div>
        <label>Image URL:</label>
        <input type="text" th:field="*{imageUrl}" />
    </div>
    <div>
        <label>Category:</label>
        <select th:field="*{categoryName}">
            <option value="">Select Category</option>
            <option th:each="category : ${categories}" th:value="${category.name}"
                    th:text="${category.name}" th:selected="${category.name == productResponse.categoryName}">
            </option>
        </select>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a href="/api/products">Back to Product List</a>
</body>
</html>
