<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>상품 리스트 페이지</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>상품 리스트 페이지</h1>
<a style="margin-right: 30px" th:href="@{'/admin/products/add'}">추가</a>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${productPage.content}">
    <td th:text="${product.id}">ID</td>
    <td th:text="${product.name}">Name</td>
    <td th:text="${product.price}">Price</td>
    <td><img alt="Product Image" th:src="@{${product.img}}"/></td>
    <td th:text="${product.category.name}">Category</td>
    <td>
      <a th:href="@{'/admin/products/edit/' + ${product.id}}">수정</a>
      <a th:href="@{'/admin/products/delete/' + ${product.id}}">삭제</a>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination">
  <a th:href="@{'/admin/products?page=' + (${productPage.number} - 1) + '&size=' + ${productPage.size} + '&sortBy=' + ${sortBy} }"
     th:if="${productPage.hasPrevious()}">이전</a>
  <a th:href="@{'/admin/products?page=' + (${productPage.number} + 1) + '&size=' + ${productPage.size} + '&sortBy=' + ${sortBy} }"
     th:if="${productPage.hasNext()}">다음</a>
</div>
</body>
</html>
