<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="/js/main.js" defer></script>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
    <div class="header">
        <span class="title">Register</span>
        <button class="btn primary-btn" onclick="history.back()">Back</button>
    </div>
    <div class="container">
        <form id="member-registration-form">
            <table class="product-info">
                <tr>
                    <th>Email</th>
                    <td>
                        <input id="email" type="text" required>
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>
                        <input id="password" type="text" required>
                    </td>
                </tr>
            </table>
            <div class="btn-container">
                <button class="btn primary-btn" type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
</html>