name: CI/CD

# main 브랜치에 코드가 push 될 때 실행
on:
  push:
    branches:
      - "step3"

env:
  KAKAO_CLIENT_ID: ${{ secrets.KAKAO_CLIENT_ID }}
  JWT_SECRET: ${{ secrets.JWT_SECRET }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # 지정한 저장소(현재 REPO)에서 코드를 워크플로우 환경으로 가져오도록 하는 github action
      - name: Checkout code
        uses: actions/checkout@v3

      # Java를 설정하는 github action
      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'

      # *.properties 파일에 있는 환경 변수를 secrets에 저장된 값으로 변경
      - name: Replace environment variables in *.properties
        run: |
          sed -i "s/\${KAKAO_CLIENT_ID}/${{ secrets.KAKAO_CLIENT_ID }}/g" ./src/main/resources/application-kakao.properties
          sed -i "s/\${JWT_SECRET}/${{ secrets.JWT_SECRET }}/g" ./src/main/resources/application-dev.properties
          sed -i "s/\${REDIS_HOST}/${{ secrets.REDIS_HOST }}/g" ./src/main/resources/application-redis.properties


      # 빌드
      - name: Grant execute permission for Gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean bootjar -x test

      # Docker Hub 로그인
      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_REPO }}:latest .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_REPO }}:latest

      # EC2 접근
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            sudo docker stop $(sudo docker ps -q)
            sudo docker rm -f $(sudo docker ps -a -q)
            sudo docker image prune -f
            sudo docker pull ${{ secrets.DOCKER_REPO }}:latest
            sudo docker run -d -p 8080:8080 --name spring-app ${{ secrets.DOCKER_REPO }}:latest