name: CI/CD Pipeline

on:
  push:
    branches: [ build ]
    pull_request:
      branches: [ build ]

env:
  LIGHTSAIL_USERNAME: ubuntu
  AWS_REGION: ap-northeast-2

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      # 브런치로 체크아웃
      - name: Checkout code
        uses: actions/checkout@v3

      # jdk 설치
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      # gradle로 빌드
      - name: Build with Gradle
        run: ./gradlew bootJar

      # AWS 인증
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      # AWS 인증 테스트
      - name: Verify AWS Credentials
        run: aws configure list

      # 배포 자동화
      - name: Upload files to Lightsail
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.LIGHTSAIL_HOST }}
          username: ${{ env.LIGHTSAIL_USERNAME }}
          port: 22
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          source: 'build/libs/*.jar'
          target: '/home/ubuntu/kakao2-6/dist'
          use_insecure_cipher: true

      - name: Restart Spring Boot process
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.LIGHTSAIL_HOST }}
          username: ${{env.LIGHTSAIL_USERNAME}}
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          script: |
            BUILD_PATH=$(ls /home/ubuntu/kakao2-6/dist/build/libs/*.jar)
            JAR_NAME=$(basename $BUILD_PATH)

            CURRENT_PID=$(pgrep -f $JAR_NAME)

            if [ -z $CURRENT_PID ]
            then
              sleep 1
            else
              kill -15 $CURRENT_PID
              sleep 5
            fi

            DEPLOY_PATH=/home/ubuntu/kakao2-6/deploy/
            cp $BUILD_PATH $DEPLOY_PATH
            cd $DEPLOY_PATH

            DEPLOY_JAR=$DEPLOY_PATH$JAR_NAME
            nohup java -jar $DEPLOY_JAR > /dev/null 2> /dev/null < /dev/null &
